<a href="https://colab.research.google.com/github/Priyanka-Police-Reddy-Gari/CreditRisk_ML/blob/main/data_reading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd;
import numpy as nm;
import dask.dataframe as dd

In [ ]:
labels = pd.read_csv("C:/Users/Jayasree N/Downloads/train_labels.csv/train_labels.csv")
labels

                                              customer_ID  target
0       0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1       00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2       00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3       000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4       00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0
...                                                   ...     ...
458908  ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...       0
458909  ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...       0
458910  ffff9984b999fccb2b6127635ed0736dda94e544e67e02...       0
458911  ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...       1
458912  fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...       0

[458913 rows x 2 columns]

In [ ]:
data= pd.read_csv('C:/Users/Jayasree N/Downloads/train_data.csv/train_data.csv')
data

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531446,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2017-11-05,0.979332,0.416013,0.020818,0.828199,0.003487,0.090743,0.005340,0.025139,...,NaN,NaN,NaN,0.006838,0.003680,0.000457,NaN,0.000905,0.001498,0.002774
5531447,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2017-12-23,0.984907,0.296536,0.007209,0.812610,0.005904,0.079886,0.002243,0.023691,...,NaN,NaN,NaN,0.003310,0.007097,0.007857,NaN,0.002777,0.008225,0.008856
5531448,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-01-06,0.983019,0.443984,0.013151,0.815422,0.003457,0.100503,0.002111,0.012343,...,NaN,NaN,NaN,0.009955,0.009994,0.001088,NaN,0.005693,0.006773,0.005566
5531449,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-02-06,0.969861,0.442553,0.009855,1.003541,0.005117,0.101802,0.009930,0.008578,...,NaN,NaN,NaN,0.005541,0.006564,0.009883,NaN,0.008123,0.001168,0.003983
5531450,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-03-14,0.982175,0.002474,0.000077,0.992880,0.000809,0.119165,0.003287,0.014092,...,NaN,NaN,NaN,0.007316,0.002888,0.006207,NaN,0.005110,0.003184,0.001914

In [ ]:
labels = labels.sample(frac = 0.20, random_state = 42)

In [ ]:
final_data=pd.DataFrame()
data["S_2"]=pd.to_datetime(data["S_2"])
#data["Year-Month"] = data["S_2"].dt.to_period('M')
#data1=data.groupby('customer_ID').apply(lambda x: x.sample(n=1)).reset_index(drop = True)
final_data=pd.concat([final_data,pd.merge(labels,data, how= 'inner', on='customer_ID')])
final_data

,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-03-21,0.628534,0.004250,0.017667,0.815468,0.005736,0.265531,0.005933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-04-21,0.669914,0.418321,0.354284,1.000587,0.009774,0.176196,0.007370,...,NaN,NaN,NaN,0.003869,0.008332,0.005805,NaN,0.006603,0.007874,0.002185
2,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-05-08,0.661933,0.003989,0.244867,1.008683,0.005743,0.169471,0.005953,...,NaN,NaN,NaN,0.004872,0.008471,0.006763,NaN,0.009782,0.007285,0.000121
3,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-06-14,0.644270,0.009351,0.017799,0.668398,0.003148,0.174020,0.006656,...,NaN,NaN,NaN,0.009246,0.009905,0.008673,NaN,0.003927,0.001159,0.000433
4,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-07-26,0.688055,0.002832,0.009458,0.779692,0.000870,0.174547,0.009100,...,NaN,NaN,NaN,0.004311,0.006488,0.004953,NaN,0.009283,0.003769,0.006124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107077,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-11-29,0.957207,0.003413,0.005511,0.811611,0.007821,NaN,0.002437,...,NaN,NaN,NaN,0.003099,0.000731,0.006184,NaN,0.006376,0.003519,0.007407
1107078,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-12-30,0.826494,0.007873,0.009774,0.819318,0.007074,NaN,0.006983,...,NaN,NaN,NaN,0.007693,0.001338,0.001450,NaN,0.003571,0.001993,0.005287
1107079,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-01-30,0.828001,0.002666,0.001569,0.815946,0.001636,NaN,0.005888,...,NaN,NaN,NaN,NaN,0.006918,NaN,NaN,NaN,0.001155,NaN
1107080,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-02-27,0.825479,0.001338,0.006197,0.812589,0.000352,NaN,0.003774,...,NaN,NaN,NaN,0.009021,0.006564,0.000960,NaN,0.001825,0.006149,0.009502
1107081,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-03-30,0.839816,0.006281,0.002410,0.818417,0.006255,NaN,0.000225,...,NaN,NaN,NaN,0.007648,0.002703,0.001718,NaN,0.005252,0.004685,0.004627

In [ ]:
count_D = final_data.columns[final_data.columns.str.contains('D')]
count_S = final_data.columns[final_data.columns.str.contains('S')]
count_P = final_data.columns[final_data.columns.str.contains('P')]
count_B = final_data.columns[final_data.columns.str.contains('B')]
count_R = final_data.columns[final_data.columns.str.contains('R')]

print("Delinquency :", count_D.shape[0])
print("Spend:", count_S.shape[0])
print("Payment:", count_P.shape[0])
print("Balance:", count_B.shape[0])
print("Risk:", count_R.shape[0])

Delinquency : 97
Spend: 22
Payment: 3
Balance: 40
Risk: 28

In [ ]:
print(final_data.shape)
nm.mean(final_data['target'])

(1107082, 191)

0.24649845268914136

In [ ]:
dtypes=final_data.dtypes

dtypelist = list()

for col in dtypes.index:
    if dtypes[col] == 'object':
        dtypelist.append(col)

print(dtypelist)

['customer_ID', 'D_63', 'D_64']

In [ ]:
size = final_data.size
size

211452662

In [ ]:
final_data.to_csv("final_data.csv")

One hot encoding

In [ ]:
#One-Hot
final_data = pd.get_dummies(final_data, columns = ['D_63', 'D_64'])
print(final_data)

                                               customer_ID  target        S_2  \
0        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-03-21
1        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-04-21
2        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-05-08
3        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-06-14
4        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-07-26
...                                                    ...     ...        ...
1107077  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2017-11-29
1107078  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2017-12-30
1107079  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2018-01-30
1107080  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2018-02-27
1107081  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2018-03-30

              P_2      D_39       B_1       B_2       R_1       S_3      D_41  \
0        0.628534  0.004250  0.017667  0.815468  0.005736  0.265531  0.005933
1        0.669914  0.418321  0.354284  1.000587  0.009774  0.176196  0.007370
2        0.661933  0.003989  0.244867  1.008683  0.005743  0.169471  0.005953
3        0.644270  0.009351  0.017799  0.668398  0.003148  0.174020  0.006656
4        0.688055  0.002832  0.009458  0.779692  0.000870  0.174547  0.009100
...           ...       ...       ...       ...       ...       ...       ...
1107077  0.957207  0.003413  0.005511  0.811611  0.007821       NaN  0.002437
1107078  0.826494  0.007873  0.009774  0.819318  0.007074       NaN  0.006983
1107079  0.828001  0.002666  0.001569  0.815946  0.001636       NaN  0.005888
1107080  0.825479  0.001338  0.006197  0.812589  0.000352       NaN  0.003774
1107081  0.839816  0.006281  0.002410  0.818417  0.006255       NaN  0.000225

         ...  D_63_CL  D_63_CO  D_63_CR  D_63_XL  D_63_XM  D_63_XZ  D_64_-1  \
0        ...        0        1        0        0        0        0        0
1        ...        0        1        0        0        0        0        0
2        ...        0        1        0        0        0        0        0
3        ...        0        1        0        0        0        0        0
4        ...        0        1        0        0        0        0        0
...      ...      ...      ...      ...      ...      ...      ...      ...
1107077  ...        0        1        0        0        0        0        0
1107078  ...        0        1        0        0        0        0        0
1107079  ...        0        1        0        0        0        0        0
1107080  ...        0        1        0        0        0        0        0
1107081  ...        0        1        0        0        0        0        0

         D_64_O  D_64_R  D_64_U
0             0       0       0
1             0       0       0
2             1       0       0
3             1       0       0
4             1       0       0
...         ...     ...     ...
1107077       0       1       0
1107078       1       0       0
1107079       1       0       0
1107080       1       0       0
1107081       1       0       0

[1107082 rows x 199 columns]

In [ ]:
final_data[['B_30','B_38','D_114','D_116','D_117','D_120','D_126','D_66','D_68']]
# final_data['D_68'].unique()
# final_data.shape

         B_30  B_38  D_114  D_116  D_117  D_120  D_126  D_66  D_68
0         0.0   1.0    NaN    NaN    NaN    NaN    NaN   NaN   NaN
1         0.0   2.0    NaN    NaN    NaN    NaN    NaN   NaN   NaN
2         0.0   2.0    0.0    0.0    4.0    0.0    1.0   NaN   2.0
3         0.0   5.0    0.0    0.0    3.0    0.0    1.0   NaN   2.0
4         0.0   5.0    0.0    0.0    3.0    0.0    1.0   NaN   2.0
...       ...   ...    ...    ...    ...    ...    ...   ...   ...
1107077   0.0   1.0    1.0    0.0    2.0    0.0    1.0   NaN   6.0
1107078   0.0   1.0    1.0    0.0    2.0    0.0    1.0   NaN   5.0
1107079   0.0   1.0    1.0    0.0    2.0    0.0    1.0   NaN   5.0
1107080   0.0   1.0    1.0    0.0    2.0    0.0    1.0   NaN   5.0
1107081   0.0   1.0    1.0    0.0    3.0    0.0    1.0   NaN   5.0

[1107082 rows x 9 columns]

In [ ]:
for col in['B_30','B_38','D_114','D_116','D_117','D_120','D_126','D_66','D_68']:
    col_dummies=pd.get_dummies(final_data[col],prefix=col)
    final_data=pd.concat([final_data,col_dummies],axis=1)
    # print(final_data.shape)
    final_data.drop(col,axis=1,inplace=True)
print(final_data.shape)

(1107082, 225)

In [ ]:
print(final_data.shape)

(1107082, 225)

In [ ]:
print(final_data)

                                               customer_ID  target        S_2  \
0        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-03-21
1        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-04-21
2        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-05-08
3        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-06-14
4        12c761e40348fa242de0356426fa9547f0feea34d1f57b...       0 2017-07-26
...                                                    ...     ...        ...
1107077  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2017-11-29
1107078  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2017-12-30
1107079  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2018-01-30
1107080  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2018-02-27
1107081  f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...       0 2018-03-30

              P_2      D_39       B_1       B_2       R_1       S_3      D_41  \
0        0.628534  0.004250  0.017667  0.815468  0.005736  0.265531  0.005933
1        0.669914  0.418321  0.354284  1.000587  0.009774  0.176196  0.007370
2        0.661933  0.003989  0.244867  1.008683  0.005743  0.169471  0.005953
3        0.644270  0.009351  0.017799  0.668398  0.003148  0.174020  0.006656
4        0.688055  0.002832  0.009458  0.779692  0.000870  0.174547  0.009100
...           ...       ...       ...       ...       ...       ...       ...
1107077  0.957207  0.003413  0.005511  0.811611  0.007821       NaN  0.002437
1107078  0.826494  0.007873  0.009774  0.819318  0.007074       NaN  0.006983
1107079  0.828001  0.002666  0.001569  0.815946  0.001636       NaN  0.005888
1107080  0.825479  0.001338  0.006197  0.812589  0.000352       NaN  0.003774
1107081  0.839816  0.006281  0.002410  0.818417  0.006255       NaN  0.000225

         ...  D_126_1.0  D_66_0.0  D_66_1.0  D_68_0.0  D_68_1.0  D_68_2.0  \
0        ...          0         0         0         0         0         0
1        ...          0         0         0         0         0         0
2        ...          1         0         0         0         0         1
3        ...          1         0         0         0         0         1
4        ...          1         0         0         0         0         1
...      ...        ...       ...       ...       ...       ...       ...
1107077  ...          1         0         0         0         0         0
1107078  ...          1         0         0         0         0         0
1107079  ...          1         0         0         0         0         0
1107080  ...          1         0         0         0         0         0
1107081  ...          1         0         0         0         0         0

         D_68_3.0  D_68_4.0  D_68_5.0  D_68_6.0
0               0         0         0         0
1               0         0         0         0
2               0         0         0         0
3               0         0         0         0
4               0         0         0         0
...           ...       ...       ...       ...
1107077         0         0         0         1
1107078         0         0         1         0
1107079         0         0         1         0
1107080         0         0         1         0
1107081         0         0         1         0

[1107082 rows x 225 columns]

In [ ]:
print(final_data.dtypes)

final_data.replace('', nm.nan, inplace=True)

customer_ID            object
target                  int64
S_2            datetime64[ns]
P_2                   float64
D_39                  float64
                    ...
D_68_2.0                uint8
D_68_3.0                uint8
D_68_4.0                uint8
D_68_5.0                uint8
D_68_6.0                uint8
Length: 225, dtype: object

In [ ]:
#Check if its replacing nan
value = final_data['D_42'][1]

print(value)

0.0114332137568759

Feature Engineering

In [ ]:
final_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
target,1107082.0,0.246498,0.430972,0.000000e+00,0.000000,0.000000,0.000000,1.000000
P_2,1097953.0,0.656599,0.244995,-4.205811e-01,0.480904,0.695096,0.865178,1.010000
D_39,1107082.0,0.153236,0.270530,9.052854e-09,0.004536,0.009056,0.236726,5.362196
B_1,1107082.0,0.123604,0.211576,-1.832537e+00,0.008824,0.031181,0.125632,1.324059
B_2,1106715.0,0.622096,0.400945,5.485064e-08,0.106468,0.814329,1.002380,1.010000
...,...,...,...,...,...,...,...,...
D_68_2.0,1107082.0,0.039534,0.194861,0.000000e+00,0.000000,0.000000,0.000000,1.000000
D_68_3.0,1107082.0,0.087317,0.282299,0.000000e+00,0.000000,0.000000,0.000000,1.000000
D_68_4.0,1107082.0,0.085613,0.279792,0.000000e+00,0.000000,0.000000,0.000000,1.000000
D_68_5.0,1107082.0,0.216576,0.411911,0.000000e+00,0.000000,0.000000,0.000000,1.000000
D_68_6.0,1107082.0,0.505416,0.499971,0.000000e+00,0.000000,1.000000,1.000000,1.000000

In [ ]:
features = final_data.drop([ 'S_2' ], axis=1).columns.to_list()
# print(final_data['customer_ID'])
# print(features)
cat_col = [i for i in features if i.startswith('B_30')or i.startswith('B_38') or i.startswith('D_114') or i.startswith('D_116')or i.startswith('D_117') or i.startswith('D_120') or i.startswith('D_126') or i.startswith('D_63')or i.startswith('D_64')or i.startswith('D_66') or i.startswith('D_68')]
print(cat_col)
ind_col = ['customer_ID', 'target']
print(ind_col)
# cat_col = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']
num_col = [col for col in features if col not in cat_col and col not in ind_col]
print('NUM COL',num_col)

['D_63_CL', 'D_63_CO', 'D_63_CR', 'D_63_XL', 'D_63_XM', 'D_63_XZ', 'D_64_-1', 'D_64_O', 'D_64_R', 'D_64_U', 'B_30_0.0', 'B_30_1.0', 'B_30_2.0', 'B_38_1.0', 'B_38_2.0', 'B_38_3.0', 'B_38_4.0', 'B_38_5.0', 'B_38_6.0', 'B_38_7.0', 'D_114_0.0', 'D_114_1.0', 'D_116_0.0', 'D_116_1.0', 'D_117_-1.0', 'D_117_1.0', 'D_117_2.0', 'D_117_3.0', 'D_117_4.0', 'D_117_5.0', 'D_117_6.0', 'D_120_0.0', 'D_120_1.0', 'D_126_-1.0', 'D_126_0.0', 'D_126_1.0', 'D_66_0.0', 'D_66_1.0', 'D_68_0.0', 'D_68_1.0', 'D_68_2.0', 'D_68_3.0', 'D_68_4.0', 'D_68_5.0', 'D_68_6.0']
['customer_ID', 'target']
NUM COL ['P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'S_3', 'D_41', 'B_3', 'D_42', 'D_43', 'D_44', 'B_4', 'D_45', 'B_5', 'R_2', 'D_46', 'D_47', 'D_48', 'D_49', 'B_6', 'B_7', 'B_8', 'D_50', 'D_51', 'B_9', 'R_3', 'D_52', 'P_3', 'B_10', 'D_53', 'S_5', 'B_11', 'S_6', 'D_54', 'R_4', 'S_7', 'B_12', 'S_8', 'D_55', 'D_56', 'B_13', 'R_5', 'D_58', 'S_9', 'B_14', 'D_59', 'D_60', 'D_61', 'B_15', 'S_11', 'D_62', 'D_65', 'B_16', 'B_17', 'B_18', 'B_19', 'B_20', 'S_12', 'R_6', 'S_13', 'B_21', 'D_69', 'B_22', 'D_70', 'D_71', 'D_72', 'S_15', 'B_23', 'D_73', 'P_4', 'D_74', 'D_75', 'D_76', 'B_24', 'R_7', 'D_77', 'B_25', 'B_26', 'D_78', 'D_79', 'R_8', 'R_9', 'S_16', 'D_80', 'R_10', 'R_11', 'B_27', 'D_81', 'D_82', 'S_17', 'R_12', 'B_28', 'R_13', 'D_83', 'R_14', 'R_15', 'D_84', 'R_16', 'B_29', 'S_18', 'D_86', 'D_87', 'R_17', 'R_18', 'D_88', 'B_31', 'S_19', 'R_19', 'B_32', 'S_20', 'R_20', 'R_21', 'B_33', 'D_89', 'R_22', 'R_23', 'D_91', 'D_92', 'D_93', 'D_94', 'R_24', 'R_25', 'D_96', 'S_22', 'S_23', 'S_24', 'S_25', 'S_26', 'D_102', 'D_103', 'D_104', 'D_105', 'D_106', 'D_107', 'B_36', 'B_37', 'R_26', 'R_27', 'D_108', 'D_109', 'D_110', 'D_111', 'B_39', 'D_112', 'B_40', 'S_27', 'D_113', 'D_115', 'D_118', 'D_119', 'D_121', 'D_122', 'D_123', 'D_124', 'D_125', 'D_127', 'D_128', 'D_129', 'B_41', 'B_42', 'D_130', 'D_131', 'D_132', 'D_133', 'R_28', 'D_134', 'D_135', 'D_136', 'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143', 'D_144', 'D_145']

In [ ]:
df_num_agg = final_data.groupby('customer_ID')[num_col].agg(['mean', 'std', 'min', 'max', 'last'])
df_num_agg.columns = ['_'.join(x) for x in df_num_agg.columns]
print(df_num_agg)
print(df_num_agg.shape)

                                             customer_ID  P_2_mean   P_2_std  \
0      000098081fde4fd64bc4d503a5d6f86a0aedc425c96f52...  0.444606  0.065085
1      000445609ff2a39d2dd02484899affa5696210a95f6869...  0.972260  0.010865
2      0004837f0c785928a29a6f83f70f4a1c54caec483a773f...  0.665203  0.028379
3      0004ec03ca1ab2adb9aa260c61ba5dce8185e19d3ab704...  0.970309  0.005252
4      00050d84c6d26e26cd2b18c3eed83d3130c270e2361470...  0.953131  0.031159
...                                                  ...       ...       ...
91778  fffe2bc02423407e33a607660caeed076d713d8a5ad323...  0.513501  0.097925
91779  ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...  0.859327  0.012425
91780  ffff9984b999fccb2b6127635ed0736dda94e544e67e02...  0.786838  0.014312
91781  ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...  0.804454  0.037442
91782  fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...  0.983617  0.012879

        P_2_min   P_2_max  P_2_last  D_39_mean  D_39_std  D_39_min  D_39_max  \
0      0.328983  0.560474  0.477116   0.010394  0.014735  0.000467  0.038574
1      0.949051  0.993348  0.978897   0.005031  0.003067  0.000853  0.009581
2      0.628740  0.712943  0.642295   0.450042  0.208705  0.005359  0.685210
3      0.963991  0.980221  0.980221   0.367651  0.228621  0.001281  0.648389
4      0.918010  1.006598  1.006598   0.219669  0.279126  0.002253  0.976348
...         ...       ...       ...        ...       ...       ...       ...
91778  0.405106  0.643031  0.408619   0.228928  0.317499  0.003800  0.765793
91779  0.831279  0.868121  0.831279   0.066421  0.123937  0.007327  0.478106
91780  0.756983  0.802953  0.800522   0.221548  0.182743  0.000223  0.536278
91781  0.754129  0.856981  0.754129   0.030878  0.081779  0.001332  0.300991
91782  0.965709  1.005768  0.982175   0.290399  0.176725  0.002230  0.563736

       ...  D_144_mean  D_144_std  D_144_min  D_144_max  D_144_last  \
0      ...    0.005719   0.002498   0.001686   0.009770    0.003703
1      ...    0.004563   0.003056   0.000085   0.009052    0.004060
2      ...    0.005006   0.003020   0.000750   0.009646    0.005832
3      ...    0.004497   0.003434   0.000179   0.009167    0.007432
4      ...    0.004060   0.003417   0.000059   0.009935    0.004934
...    ...         ...        ...        ...        ...         ...
91778  ...    0.004696   0.002790   0.000321   0.009165    0.003953
91779  ...    0.006052   0.002825   0.001254   0.009966    0.009230
91780  ...    0.004860   0.002944   0.000340   0.009002    0.000340
91781  ...    0.005287   0.002728   0.001186   0.009836    0.002502
91782  ...    0.004962   0.002986   0.001168   0.009627    0.003184

       D_145_mean  D_145_std  D_145_min  D_145_max  D_145_last
0        0.005654   0.002304   0.001265   0.009131    0.006274
1        0.004215   0.002971   0.000315   0.009732    0.000315
2        0.004138   0.003501   0.000057   0.008884    0.000346
3        0.005466   0.002915   0.000411   0.009780    0.009696
4        0.006201   0.003082   0.000516   0.009825    0.007411
...           ...        ...        ...        ...         ...
91778    0.006129   0.003002   0.001390   0.009487    0.006302
91779    0.005622   0.001671   0.002929   0.007776    0.006435
91780    0.003917   0.002744   0.000204   0.008535    0.002148
91781    0.186632   0.003162   0.182622   0.191400    0.185527
91782    0.005934   0.002911   0.001914   0.009291    0.001914

[91783 rows x 886 columns]
(91783, 886)

In [ ]:
df_num_agg.columns

Index(['customer_ID', 'P_2_mean', 'P_2_std', 'P_2_min', 'P_2_max', 'P_2_last',
       'D_39_mean', 'D_39_std', 'D_39_min', 'D_39_max',
       ...
       'D_144_mean', 'D_144_std', 'D_144_min', 'D_144_max', 'D_144_last',
       'D_145_mean', 'D_145_std', 'D_145_min', 'D_145_max', 'D_145_last'],
      dtype='object', length=886)

In [ ]:
df_num_agg.to_csv("df_num_agg.csv")

Merging aggegrated file with final data based on customer id
Restart kernal for Memory errors

In [ ]:
final_data = pd.read_csv("C:/Users/Jayasree N/Downloads/final_data.csv")

In [ ]:
df_num_agg = pd.read_csv("C:/Users/Jayasree N/Downloads/df_num_agg.csv")

In [ ]:
final_data

,Unnamed: 0,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,...,D_126_1.0,D_66_0.0,D_66_1.0,D_68_0.0,D_68_1.0,D_68_2.0,D_68_3.0,D_68_4.0,D_68_5.0,D_68_6.0
0,0,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-03-21,0.628534,0.004250,0.017667,0.815468,0.005736,0.265531,...,0,0,0,0,0,0,0,0,0,0
1,1,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-04-21,0.669914,0.418321,0.354284,1.000587,0.009774,0.176196,...,0,0,0,0,0,0,0,0,0,0
2,2,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-05-08,0.661933,0.003989,0.244867,1.008683,0.005743,0.169471,...,1,0,0,0,0,1,0,0,0,0
3,3,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-06-14,0.644270,0.009351,0.017799,0.668398,0.003148,0.174020,...,1,0,0,0,0,1,0,0,0,0
4,4,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-07-26,0.688055,0.002832,0.009458,0.779692,0.000870,0.174547,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107077,1107077,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-11-29,0.957207,0.003413,0.005511,0.811611,0.007821,NaN,...,1,0,0,0,0,0,0,0,0,1
1107078,1107078,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-12-30,0.826494,0.007873,0.009774,0.819318,0.007074,NaN,...,1,0,0,0,0,0,0,0,1,0
1107079,1107079,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-01-30,0.828001,0.002666,0.001569,0.815946,0.001636,NaN,...,1,0,0,0,0,0,0,0,1,0
1107080,1107080,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-02-27,0.825479,0.001338,0.006197,0.812589,0.000352,NaN,...,1,0,0,0,0,0,0,0,1,0
1107081,1107081,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-03-30,0.839816,0.006281,0.002410,0.818417,0.006255,NaN,...,1,0,0,0,0,0,0,0,1,0

In [ ]:
df_num_agg

,Unnamed: 0,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_last,D_39_mean,D_39_std,D_39_min,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_last,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_last
0,0,000098081fde4fd64bc4d503a5d6f86a0aedc425c96f52...,0.444606,0.065085,0.328983,0.560474,0.477116,0.010394,0.014735,0.000467,...,0.005719,0.002498,0.001686,0.009770,0.003703,0.005654,0.002304,0.001265,0.009131,0.006274
1,1,000445609ff2a39d2dd02484899affa5696210a95f6869...,0.972260,0.010865,0.949051,0.993348,0.978897,0.005031,0.003067,0.000853,...,0.004563,0.003056,0.000085,0.009052,0.004060,0.004215,0.002971,0.000315,0.009732,0.000315
2,2,0004837f0c785928a29a6f83f70f4a1c54caec483a773f...,0.665203,0.028379,0.628740,0.712943,0.642295,0.450042,0.208705,0.005359,...,0.005006,0.003020,0.000750,0.009646,0.005832,0.004138,0.003501,0.000057,0.008884,0.000346
3,3,0004ec03ca1ab2adb9aa260c61ba5dce8185e19d3ab704...,0.970309,0.005252,0.963991,0.980221,0.980221,0.367651,0.228621,0.001281,...,0.004497,0.003434,0.000179,0.009167,0.007432,0.005466,0.002915,0.000411,0.009780,0.009696
4,4,00050d84c6d26e26cd2b18c3eed83d3130c270e2361470...,0.953131,0.031159,0.918010,1.006598,1.006598,0.219669,0.279126,0.002253,...,0.004060,0.003417,0.000059,0.009935,0.004934,0.006201,0.003082,0.000516,0.009825,0.007411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91778,91778,fffe2bc02423407e33a607660caeed076d713d8a5ad323...,0.513501,0.097925,0.405106,0.643031,0.408619,0.228928,0.317499,0.003800,...,0.004696,0.002790,0.000321,0.009165,0.003953,0.006129,0.003002,0.001390,0.009487,0.006302
91779,91779,ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...,0.859327,0.012425,0.831279,0.868121,0.831279,0.066421,0.123937,0.007327,...,0.006052,0.002825,0.001254,0.009966,0.009230,0.005622,0.001671,0.002929,0.007776,0.006435
91780,91780,ffff9984b999fccb2b6127635ed0736dda94e544e67e02...,0.786838,0.014312,0.756983,0.802953,0.800522,0.221548,0.182743,0.000223,...,0.004860,0.002944,0.000340,0.009002,0.000340,0.003917,0.002744,0.000204,0.008535,0.002148
91781,91781,ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...,0.804454,0.037442,0.754129,0.856981,0.754129,0.030878,0.081779,0.001332,...,0.005287,0.002728,0.001186,0.009836,0.002502,0.186632,0.003162,0.182622,0.191400,0.185527
91782,91782,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,0.983617,0.012879,0.965709,1.005768,0.982175,0.290399,0.176725,0.002230,...,0.004962,0.002986,0.001168,0.009627,0.003184,0.005934,0.002911,0.001914,0.009291,0.001914

In [ ]:
merged_df = pd.merge(final_data, df_num_agg, on='customer_ID')

In [ ]:
final_data.shape

(1107082, 226)

In [ ]:
df_num_agg.shape

(91783, 887)

In [ ]:
merged_df

,Unnamed: 0_x,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_last,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_last
0,0,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-03-21,0.628534,0.004250,0.017667,0.815468,0.005736,0.265531,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
1,1,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-04-21,0.669914,0.418321,0.354284,1.000587,0.009774,0.176196,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
2,2,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-05-08,0.661933,0.003989,0.244867,1.008683,0.005743,0.169471,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
3,3,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-06-14,0.644270,0.009351,0.017799,0.668398,0.003148,0.174020,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
4,4,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-07-26,0.688055,0.002832,0.009458,0.779692,0.000870,0.174547,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107077,1107077,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-11-29,0.957207,0.003413,0.005511,0.811611,0.007821,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107078,1107078,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-12-30,0.826494,0.007873,0.009774,0.819318,0.007074,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107079,1107079,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-01-30,0.828001,0.002666,0.001569,0.815946,0.001636,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107080,1107080,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-02-27,0.825479,0.001338,0.006197,0.812589,0.000352,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107081,1107081,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-03-30,0.839816,0.006281,0.002410,0.818417,0.006255,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627

In [ ]:
merged_df.columns

Index(['Unnamed: 0_x', 'customer_ID', 'target', 'S_2', 'P_2', 'D_39', 'B_1',
       'B_2', 'R_1', 'S_3',
       ...
       'D_144_mean', 'D_144_std', 'D_144_min', 'D_144_max', 'D_144_last',
       'D_145_mean', 'D_145_std', 'D_145_min', 'D_145_max', 'D_145_last'],
      dtype='object', length=1112)

In [ ]:
merged_df = merged_df.drop('Unnamed: 0_x', axis=1)

In [ ]:
merged_df.tail()

,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_last,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_last
1107077,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-11-29,0.957207,0.003413,0.005511,0.811611,0.007821,NaN,0.002437,...,0.00521,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107078,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-12-30,0.826494,0.007873,0.009774,0.819318,0.007074,NaN,0.006983,...,0.00521,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107079,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-01-30,0.828001,0.002666,0.001569,0.815946,0.001636,NaN,0.005888,...,0.00521,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107080,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-02-27,0.825479,0.001338,0.006197,0.812589,0.000352,NaN,0.003774,...,0.00521,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107081,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-03-30,0.839816,0.006281,0.002410,0.818417,0.006255,NaN,0.000225,...,0.00521,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627

In [ ]:
merged_df.isna().sum()

customer_ID       0
target            0
S_2               0
P_2            9129
D_39              0
               ...
D_145_mean     3316
D_145_std      5170
D_145_min      3316
D_145_max      3316
D_145_last     3316
Length: 1111, dtype: int64

In [ ]:
merged_df.to_csv("merged_df.csv")

Merged file import for memory errors

In [ ]:
merged_df = pd.read_csv("C:/Users/Jayasree N/Downloads/merged_df.csv")

In [ ]:
merged_df = merged_df.dropna(axis=1, how='all')

In [ ]:
merged_df.shape

(1107082, 1112)

In [ ]:
merged_df.isna().sum()

Unnamed: 0        0
customer_ID       0
target            0
S_2               0
P_2            9129
               ...
D_145_mean     3316
D_145_std      5170
D_145_min      3316
D_145_max      3316
D_145_last     3316
Length: 1112, dtype: int64

In [ ]:
merged_df.shape

(1107082, 1112)

In [ ]:
merged_df

,Unnamed: 0,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_last,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_last
0,0,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-03-21,0.628534,0.004250,0.017667,0.815468,0.005736,0.265531,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
1,1,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-04-21,0.669914,0.418321,0.354284,1.000587,0.009774,0.176196,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
2,2,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-05-08,0.661933,0.003989,0.244867,1.008683,0.005743,0.169471,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
3,3,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-06-14,0.644270,0.009351,0.017799,0.668398,0.003148,0.174020,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
4,4,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-07-26,0.688055,0.002832,0.009458,0.779692,0.000870,0.174547,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107077,1107077,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-11-29,0.957207,0.003413,0.005511,0.811611,0.007821,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107078,1107078,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-12-30,0.826494,0.007873,0.009774,0.819318,0.007074,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107079,1107079,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-01-30,0.828001,0.002666,0.001569,0.815946,0.001636,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107080,1107080,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-02-27,0.825479,0.001338,0.006197,0.812589,0.000352,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107081,1107081,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-03-30,0.839816,0.006281,0.002410,0.818417,0.006255,NaN,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627

In [ ]:
merged_df = merged_df.drop('Unnamed: 0', axis=1)

In [ ]:
merged_df

,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_last,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_last
0,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-03-21,0.628534,0.004250,0.017667,0.815468,0.005736,0.265531,0.005933,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
1,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-04-21,0.669914,0.418321,0.354284,1.000587,0.009774,0.176196,0.007370,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
2,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-05-08,0.661933,0.003989,0.244867,1.008683,0.005743,0.169471,0.005953,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
3,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-06-14,0.644270,0.009351,0.017799,0.668398,0.003148,0.174020,0.006656,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
4,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-07-26,0.688055,0.002832,0.009458,0.779692,0.000870,0.174547,0.009100,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.00340,0.000121,0.009867,0.004004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107077,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-11-29,0.957207,0.003413,0.005511,0.811611,0.007821,NaN,0.002437,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107078,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-12-30,0.826494,0.007873,0.009774,0.819318,0.007074,NaN,0.006983,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107079,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-01-30,0.828001,0.002666,0.001569,0.815946,0.001636,NaN,0.005888,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107080,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-02-27,0.825479,0.001338,0.006197,0.812589,0.000352,NaN,0.003774,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627
1107081,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2018-03-30,0.839816,0.006281,0.002410,0.818417,0.006255,NaN,0.000225,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.00277,0.000448,0.009502,0.004627

In [ ]:
merged_df.to_csv("Input.csv")

In [ ]:
training_data = merged_df.sample(frac = 0.70, random_state = 42)
testing_data = merged_df.drop(training_data.index)

In [ ]:
training_data

,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_last,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_last
112785,1516d4b6fa93bb2fab0267d1660c449db953b776c08761...,1,2018-03-06,0.241981,1.210912,0.151792,0.004635,0.005931,0.212308,1.320793,...,0.241906,0.017261,0.223274,0.263647,0.263647,0.095631,0.002950,0.092393,0.100603,0.093951
265188,db8b7f3dbaf0efaf2f687ff03a3b21b3cb2da8eececa91...,0,2017-11-09,0.535237,0.007230,0.000147,0.816608,0.002156,0.156495,0.001439,...,0.018735,0.032043,0.001615,0.085524,0.008448,0.814787,0.094424,0.728278,0.915184,0.915115
651826,c8ef044bb299e9bd54d16e4f78240bc4dd5c2fe62c3ec0...,1,2017-09-16,0.303654,0.918013,0.500440,0.029188,0.253755,0.317735,1.575946,...,0.005642,0.002946,0.000558,0.009640,0.006449,0.005086,0.003095,0.000291,0.009512,0.003486
254017,a35e3b8ebcbdc3af02bc9a50c178616bc5905f4df1abcd...,1,2017-08-29,0.458572,0.000241,0.372947,0.007897,0.508175,0.322297,0.435087,...,0.006128,0.003325,0.000136,0.009584,0.004529,0.004631,0.003857,0.000109,0.009777,0.006707
374567,d54532ebee3b0f438bf03f28dc051f3e9099172bbc61da...,0,2018-03-06,0.721514,0.008087,0.048585,0.813587,0.004385,0.638333,0.000901,...,0.058622,0.001739,0.057392,0.059851,0.059851,0.366560,0.000526,0.366188,0.366932,0.366188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304550,206f3d0a57f8267724b006c204db099840d75e1f957fc0...,1,2017-11-08,0.814645,0.564221,0.020193,1.008803,0.009854,0.237505,0.007010,...,0.006242,0.002908,0.000472,0.009888,0.003900,0.005222,0.003121,0.001056,0.009654,0.008770
59942,9d415e8dfe4b8cafda808e591bf1f153d4092e2884f54a...,1,2017-03-23,0.325502,0.008437,0.371559,0.031631,1.251650,0.128165,0.007828,...,0.007227,0.001437,0.004814,0.009369,0.009369,0.005426,0.003517,0.000409,0.009898,0.009780
834806,4fd8ec41dda11237cd7f755cdd9a3e5deade5bdcd4807c...,1,2017-10-10,0.559122,0.029938,0.079256,0.453125,0.007388,0.432855,0.007431,...,0.006909,0.003073,0.001355,0.009930,0.007980,0.004572,0.002967,0.000605,0.009439,0.002826
345033,bad57cc9c71e81830071551f680019aa65113076734544...,1,2018-02-07,0.349234,0.005005,0.010918,0.313843,0.000782,0.250645,0.009577,...,0.005253,0.003641,0.000061,0.009886,0.004765,0.002959,0.002751,0.000161,0.009746,0.001167
576988,66a93c8a6041097123832d2d88183a46750fdd91429133...,0,2017-09-27,0.933550,0.003217,0.025588,1.005065,0.007918,0.059339,0.003281,...,0.005698,0.002657,0.001623,0.009647,0.009647,0.005429,0.002749,0.000619,0.009996,0.007071

In [ ]:
testing_data

,customer_ID,target,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_last,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_last
1,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-04-21,0.669914,0.418321,0.354284,1.000587,0.009774,0.176196,0.007370,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.003400,0.000121,0.009867,0.004004
3,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-06-14,0.644270,0.009351,0.017799,0.668398,0.003148,0.174020,0.006656,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.003400,0.000121,0.009867,0.004004
8,12c761e40348fa242de0356426fa9547f0feea34d1f57b...,0,2017-11-26,0.718254,0.001089,0.099028,1.004527,0.006939,0.135165,0.001655,...,0.003469,0.002516,0.000220,0.007874,0.000220,0.004190,0.003400,0.000121,0.009867,0.004004
19,14aff3c0e0ed2aaaef6deb127f2541b67fdd0002615bfd...,0,2017-06-12,0.873444,0.181114,0.260212,0.037367,0.001938,0.119597,0.009342,...,0.612504,0.111481,0.381447,0.713597,0.381447,0.171400,0.034107,0.093798,0.189750,0.093798
21,14aff3c0e0ed2aaaef6deb127f2541b67fdd0002615bfd...,0,2017-08-19,0.866264,0.353809,0.385730,0.048090,0.006410,0.115494,0.002074,...,0.612504,0.111481,0.381447,0.713597,0.381447,0.171400,0.034107,0.093798,0.189750,0.093798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1107054,b21074f8ed98c1070d013bebdddb29b63a4315c4d5c3ea...,0,2018-02-05,0.667073,0.005141,0.008160,0.819318,0.002957,NaN,0.003226,...,0.004120,0.002628,0.000364,0.008261,0.000364,0.003268,0.002502,0.000347,0.006821,0.002261
1107064,45565ab15343ce1240b1341ce847330189c47a0af618c9...,0,2017-11-22,0.800876,0.000335,0.008124,0.810943,0.005471,0.180119,0.000535,...,0.006766,0.003065,0.000228,0.009679,0.004179,0.005544,0.003398,0.000254,0.009794,0.004767
1107074,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-08-30,0.969843,0.008969,0.002992,0.811142,0.003155,NaN,0.009052,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.002770,0.000448,0.009502,0.004627
1107075,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-09-29,0.977023,0.004933,0.007076,0.814633,0.003477,NaN,0.008193,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.002770,0.000448,0.009502,0.004627
1107077,f0defebbf6e79c14234a06c5b3522ee5914cb0f23fdd13...,0,2017-11-29,0.957207,0.003413,0.005511,0.811611,0.007821,NaN,0.002437,...,0.005210,0.002751,0.001155,0.009975,0.004685,0.004556,0.002770,0.000448,0.009502,0.004627

In [ ]:
# training_data.to_csv("training_data.csv")

In [ ]:
# testing_data1 = testing_data.sample(frac = 0.50, random_state = 42)
# testing_data2 = testing_data1.drop(testing_data1.index)

In [ ]:
# testing_data1.head()

In [ ]:
# testing_data2.head()

In [ ]:
# testing_data1.to_csv("testing_data1.csv")

In [ ]:
# testing_data2.to_csv("testing_data2.csv")

In [ ]:
pip install -U notebook-as-pdf

Collecting notebook-as-pdfNote: you may need to restart the kernel to use updated packages.

  Downloading notebook_as_pdf-0.5.0-py3-none-any.whl (6.5 kB)
Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     -------------------------------------- 232.6/232.6 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: nbconvert in c:\users\jayasree n\anaconda3\lib\site-packages (from notebook-as-pdf) (6.5.4)
Collecting pyppeteer
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     ---------------------------------------- 83.4/83.4 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.8.4)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (5.2.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.4)
Requirement already satisfied: defusedxml in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (2.1.1)
Requirement already satisfied: pygments>=2.4.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (2.11.2)
Requirement already satisfied: jinja2>=3.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (3.1.2)
Requirement already satisfied: packaging in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (22.0)
Requirement already satisfied: traitlets>=5.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (5.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.1.2)
Requirement already satisfied: lxml in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (4.9.1)
Requirement already satisfied: bleach in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (4.1.0)
Requirement already satisfied: tinycss2 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (1.2.1)
Requirement already satisfied: beautifulsoup4 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (4.11.1)
Requirement already satisfied: nbformat>=5.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (5.7.0)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.5.13)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\jayasree n\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (1.4.4)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\jayasree n\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (4.11.3)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (4.64.1)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.4-cp310-cp310-win_amd64.whl (101 kB)
     -------------------------------------- 101.4/101.4 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: certifi>=2021 in c:\users\jayasree n\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (2022.12.7)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in c:\users\jayasree n\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (1.26.14)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\jayasree n\anaconda3\lib\site-packages (from importlib-metadata>=1.4->pyppeteer->notebook-as-pdf) (3.11.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert->notebook-as-pdf) (2.5.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert->notebook-as-pdf) (305.1)
Requirement already satisfied: nest-asyncio in c:\users\jayasree n\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert->notebook-as-pdf) (1.5.6)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert->notebook-as-pdf) (7.3.4)
Requirement already satisfied: fastjsonschema in c:\users\jayasree n\anaconda3\lib\site-packages (from nbformat>=5.1->nbconvert->notebook-as-pdf) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbformat>=5.1->nbconvert->notebook-as-pdf) (4.17.3)
Requirement already satisfied: colorama in c:\users\jayasree n\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer->notebook-as-pdf) (0.4.6)
Requirement already satisfied: soupsieve>1.2 in c:\users\jayasree n\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->notebook-as-pdf) (2.3.2.post1)
Requirement already satisfied: six>=1.9.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from bleach->nbconvert->notebook-as-pdf) (1.16.0)
Requirement already satisfied: webencodings in c:\users\jayasree n\anaconda3\lib\site-packages (from bleach->nbconvert->notebook-as-pdf) (0.5.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->notebook-as-pdf) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->notebook-as-pdf) (0.18.0)
Requirement already satisfied: pyzmq>=23.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (23.2.0)
Requirement already satisfied: tornado>=6.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (2.8.2)
Installing collected packages: pyee, websockets, PyPDF2, pyppeteer, notebook-as-pdf
Successfully installed PyPDF2-3.0.1 notebook-as-pdf-0.5.0 pyee-8.2.2 pyppeteer-1.0.2 websockets-10.4

In [ ]:
pip install nbconvert

Requirement already satisfied: nbconvert in c:\users\jayasree n\anaconda3\lib\site-packages (6.5.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: packaging in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (22.0)
Requirement already satisfied: bleach in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (4.1.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: nbformat>=5.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (5.7.0)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (0.5.13)
Requirement already satisfied: jinja2>=3.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (3.1.2)
Requirement already satisfied: pygments>=2.4.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (2.11.2)
Requirement already satisfied: defusedxml in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: tinycss2 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: lxml in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (4.9.1)
Requirement already satisfied: traitlets>=5.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (5.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (2.1.1)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (5.2.0)
Requirement already satisfied: beautifulsoup4 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (4.11.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbconvert) (0.4)
Requirement already satisfied: pywin32>=1.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (305.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-core>=4.7->nbconvert) (2.5.2)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert) (7.3.4)
Requirement already satisfied: nest-asyncio in c:\users\jayasree n\anaconda3\lib\site-packages (from nbclient>=0.5.0->nbconvert) (1.5.6)
Requirement already satisfied: fastjsonschema in c:\users\jayasree n\anaconda3\lib\site-packages (from nbformat>=5.1->nbconvert) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\jayasree n\anaconda3\lib\site-packages (from nbformat>=5.1->nbconvert) (4.17.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\jayasree n\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert) (2.3.2.post1)
Requirement already satisfied: six>=1.9.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from bleach->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in c:\users\jayasree n\anaconda3\lib\site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (22.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: tornado>=6.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert) (6.1)
Requirement already satisfied: pyzmq>=23.0 in c:\users\jayasree n\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert) (23.2.0)
Note: you may need to restart the kernel to use updated packages.